.navbar {
  background-color: #111;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  margin: 0;
  font-size: 20px;
}

.navbar button {
  background-color: #2563eb;
  border: none;
  padding: 8px 14px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}